@using CheckersWeb.Classes;

@model CheckersWeb.Models.BoardViewModel

@{
    ViewBag.Title = "Home Page";
}
<style>
    #makeMeDraggable {
        width: 300px;
        height: 300px;
        background: red;
    }
</style>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/GameScript.js"></script>
<div class="gameBoard">
    <div id="topRow">
        <div class="whiteSquare" id="sq_0"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_1"></div>
        <div class="whiteSquare" id="sq_2"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_3"></div>
        <div class="whiteSquare" id="sq_4"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_5"></div>
        <div class="whiteSquare" id="sq_6"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_7"></div>
    </div>
    <div id="row">
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_8"></div>
        <div class="whiteSquare" id="sq_9"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_10"></div>
        <div class="whiteSquare" id="sq_11"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_12"></div>
        <div class="whiteSquare" id="sq_13"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_14"></div>
        <div class="whiteSquare" id="sq_15"></div>
    </div>
    <div id="row">
        <div class="whiteSquare" id="sq_16"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_17"></div>
        <div class="whiteSquare" id="sq_18"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_19"></div>
        <div class="whiteSquare" id="sq_20"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_21"></div>
        <div class="whiteSquare" id="sq_22"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_23"></div>
    </div>
    <div id="row">
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_24"></div>
        <div class="whiteSquare" id="sq_25"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_26"></div>
        <div class="whiteSquare" id="sq_27"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_28"></div>
        <div class="whiteSquare" id="sq_29"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_30"></div>
        <div class="whiteSquare" id="sq_31"></div>
    </div>
    <div id="row">
        <div class="whiteSquare" id="sq_32"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_33"></div>
        <div class="whiteSquare" id="sq_34"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_35"></div>
        <div class="whiteSquare" id="sq_36"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_37"></div>
        <div class="whiteSquare" id="sq_38"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_39"></div>
    </div>
    <div id="row">
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_40"></div>
        <div class="whiteSquare" id="sq_41"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_42"></div>
        <div class="whiteSquare" id="sq_43"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_44"></div>
        <div class="whiteSquare" id="sq_45"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_46"></div>
        <div class="whiteSquare" id="sq_47"></div>
    </div>
    <div id="row">
        <div class="whiteSquare" id="sq_48"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_49"></div>
        <div class="whiteSquare" id="sq_50"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_51"></div>
        <div class="whiteSquare" id="sq_52"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_53"></div>
        <div class="whiteSquare" id="sq_54"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_55"></div>
    </div>
    <div id="row">
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_56"></div>
        <div class="whiteSquare" id="sq_57"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_58"></div>
        <div class="whiteSquare" id="sq_59"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_60"></div>
        <div class="whiteSquare" id="sq_61"></div>
        <div class="blackSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_62"></div>
        <div class="whiteSquare" id="sq_63"></div>
    </div>
</div>
<div>
    <button id="btn" value="Button" type="button">Click Me</button>
</div>

@foreach (var m in Model.Pieces)
{
    if (m.Color == (GridState)Enum.Parse(typeof(GridState), "BLACKPAWN"))
    {
        <script type="text/javascript">
            ShowBlack(@m.Position, @m.Index, "/Content/Assets/BlackPiece.png", '@m.Color');
        </script>
    }
    else if (m.Color == (GridState)Enum.Parse(typeof(GridState), "WHITEPAWN"))
    {
        <script type="text/javascript">
            ShowBlack(@m.Position, @m.Index, "/Content/Assets/WhitePiece.png", '@m.Color');
        </script>
    }
    else if (m.Color == (GridState)Enum.Parse(typeof(GridState), "BLACKKING"))
    {
        <script type="text/javascript">
            ShowBlack(@m.Position, @m.Index, "/Content/Assets/BlackKing.png", '@m.Color');
        </script>
    }
    else if (m.Color == (GridState)Enum.Parse(typeof(GridState), "WHITEKING"))
    {
        <script type="text/javascript">
            ShowBlack(@m.Position, @m.Index, "/Content/Assets/WhiteKing.png", '@m.Color');
        </script>
    }
}