@using CheckersWeb.Classes;

@model CheckersWeb.Models.PraetorianBoardViewModel
@{
    ViewBag.Title = "Praetorian";
}

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/Praetorian.js"></script>

<form id="PraetorianForm">
    <section class="gameSection">
        <div class="gameBoard">
            <div id="topRow">
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_0"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_1"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_2"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_3"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_4"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_5"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_6"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_7"></div>
            </div>
            <div id="row">
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_8"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_9"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_10"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_11"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_12"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_13"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_14"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_15"></div>
            </div>
            <div id="row">
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_16"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_17"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_18"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_19"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_20"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_21"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_22"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_23"></div>
            </div>
            <div id="row">
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_24"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_25"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_26"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_27"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_28"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_29"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_30"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_31"></div>
            </div>
            <div id="row">
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_32"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_33"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_34"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_35"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_36"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_37"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_38"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_39"></div>
            </div>
            <div id="row">
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_40"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_41"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_42"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_43"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_44"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_45"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_46"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_47"></div>
            </div>
            <div id="row">
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_48"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_49"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_50"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_51"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_52"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_53"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_54"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_55"></div>
            </div>
            <div id="row">
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_56"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_57"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_58"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_59"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_60"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_61"></div>
                <div class="redSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_62"></div>
                <div class="whiteSquare" ondrop="drop(event)" ondragover="allowDrop(event)" id="sq_63"></div>
            </div>
        </div>
        <div class="gameInfo">
            <textarea readonly id="txtMessage" class="gamePraeText"></textarea>
            <fieldset>
                <legend>Game Selection</legend>
                <label for="Assassin">Assassin</label>
                <input type="radio" name="sideSelection" value="ASSASSINTURN" id="Assassin" />
                <label style="margin-left: 20px;" for="Praetorain">Praetorian</label>
                <input type="radio" name="sideSelection" value="PRAETORIANTURN" id="Praetorain" checked="checked" />
            </fieldset>
            <button id="btn" class="startButton" value="Button" type="button">Start Game</button>
            <button id="btnInterrogate" class="startButton" value="Button" type="button">Interrogate</button>
        </div>
    </section>
    <div>
        Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>
    </div>
</form>
@foreach (var m in Model.Pieces)
{
    if (m.Piece == (CellState)Enum.Parse(typeof(CellState), "PRAETORIAN"))
    {
        <script type="text/javascript">
            ShowPositions(@m.Position, @m.Index, "/Content/Assets/PurpleTower.png", '@m.Piece');
        </script>
    }
    else if (m.Piece != (CellState)Enum.Parse(typeof(CellState), "PRAETORIAN") && m.Piece != (CellState)Enum.Parse(typeof(CellState), "EMPTY"))
    {
        int num = (int)m.Piece;
        <script type="text/javascript">
            ShowPositions(@m.Position, @m.Index, "/Content/Assets/Numbers/" + @num + ".png", '@m.Piece');
        </script>
    }
}